.player-container__volume-button {
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.muted {
    &::before {
      background: white;
      border-radius: 3px;
      box-shadow: 1px 1px 1px #343434;
      content: "";
      height: 213px;
      left: 44%;
      opacity: 0.9;
      position: absolute;
      top: -1px;
      transform: rotate(45deg);
      width: 20px;
    }
  }
}
