<button class="btn btn-block btn-primary h-100 w-80" type="button" data-toggle="modal" data-target="#addSongModal">
  Add Music to Queue
</button>

<div class="modal fade" id="addSongModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content pt-3 pb-3">
      <div class="modal-header pt-0 pb-0">
        <h4 class="modal-title d-block text-center pt-2 w-100 font-weight-bold">Search for a song to play or upload a new song</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal('addSongModal');">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Notifications -->
        <app-notifications #notifierModalOne></app-notifications>
        <p>Choose a song to add to the Jukeblox queue, or upload your own.</p>
        <div class="waiting" *ngIf="waitingForRegistryConfirmation">
          <p>Hang in there homeslice, we're waiting for your transaction to confirm!</p>
          <div class="spinner"></div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-primary" (click)="openUploadModal();">Upload</button>
        <div class="btn-group" role="group" aria-label="Add song or cancel">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="closeModal('addSongModal');">Cancel</button>
          <button type="button" class="btn btn-outline-primary" [disabled]="!fileReady || waitingForRegistryConfirmation" (click)="addSongToQueue();">Add Song</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title d-block text-center pt-2 w-100 font-weight-bold">Upload a Song</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Notifications -->
        <app-notifications #notifierModalTwo></app-notifications>
        <!-- <p>Upload a song to add to the queue. :)</p> -->
        <file-drop
          (onFileDrop)="dropped($event)"
          (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)"
        >
        <div class="upload-song-info w-100 h-100 py-3 px-4" *ngIf="file && filePath; else no_file">
          <div class="media small text-dark h-100" *ngIf="id3Tag; else no_tag">
            <img class="album-image rounded mr-3" [src]="sanitizedAlbumArt" *ngIf="sanitizedAlbumArt">
            <div class="media-body">
              <h5 *ngIf="id3Tag.title" class="font-weight-bold mb-1">{{ id3Tag.title }}</h5>
              <p *ngIf="id3Tag.artist" class="font-weight-bold mb-1">{{ id3Tag.artist }}</p>
              <p *ngIf="id3Tag.album" class="mb-1 d-inline"><em>{{ id3Tag.album }}</em></p>
              <p *ngIf="id3Tag.album && id3Tag.year" class="d-inline">&nbsp;&mdash;&nbsp;</p>
              <p *ngIf="id3Tag.year" class="mb-1 d-inline">{{ id3Tag.year }}</p>
            </div>
          </div>
          <ng-template #no_tag>
            <span>{{ filePath }}</span>
          </ng-template>
        </div>
          <ng-template #no_file>
            <span>Drag and drop an MP3 file here to upload!</span>
          </ng-template>
        </file-drop>
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="Add song or cancel">
          <button type="button" class="btn btn-outline-primary" (click)="uploadFile();" [disabled]="!file || !filePath">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>

<audio #audioElement class="d-none" id="audio" (canplaythrough)="getDuration($event);"></audio>
