@import "theme";

html, body {
    height: 100%;
    outline: none;
}

body {
    background-image: url(assets/images/space-bkgd--placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#player {
    display: none;
}

.btn-primary {
  transition: 0.1s ease-in;

  &:hover {
    transform: scale(1.02);
  }
}



// Import Boostrap
