<div class="search-wrapper container-fluid position-relative p-0">
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        [formControl]="queryField"
        placeholder="Search for a song, artist or album."
      >
      <div
        *ngIf="(searchResults | async) as searchResults"
        class="row search-results-wrapper container-fluid position-absolute"
      >
        <div
          *ngIf="searchResults.length"
          class="row w-100 no-gutters search-results-inner border rounded"
        >
          <div
            *ngFor="let result of searchResults"
            class="col-12 media small p-2 border border-top-0 bg-light"
          >
            <img class="album-image rounded mr-3" src="{{ defaultImage }}">
            <div class="media-body">
              <p class="font-weight-bold mb-1"><em>{{ result.title || "Unknown Song" }}</em> - {{ result.artist || "Unknown Artist" }}</p>
              <!-- <p class="font-weight-bold mb-1">Artist: {{ result.artist || "Unknown Artist" }}</p> -->
              <p class="mb-1">{{ result.album || "Unknown Album" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
