.search-results-wrapper {
    z-index: 1;
    max-height: 40vh;
}

.search-results-inner {
    overflow-y: auto;
}

.song-item {
    cursor: pointer;

    &:hover {
        background-color: #ffffff !important;
        box-shadow: 0px 2px 5px 0px rgba(216, 216, 216, 0.25);
        z-index: 1;
    }
}

.search-clear {
    top: 0;
    right: 0;
    opacity: 0.25;
    color: #000000;
}