<div class="container-fluid bg-white border text-dark p-0">
  <div class="row no-gutters">
    <div class="media col-3 border-right p-3">
      <img class="mr-3" src="assets/images/drake-cover__large.png">
      <div class="media-body small">
        <h6 class="mb-1">Michael Drakeson</h6>
        I Feel Like a Drake (Drake's Party Remix)
      </div>
    </div>
    <div class="col-3 border-right p-3">
      2
    </div>
    <div class="col-3 border-right p-3">
      3
    </div>
    <div class="col-3 p-3">
      4
    </div>
  </div>
</div>