<div class="container-fluid h-100 d-flex flex-column">
  <div class="row flex-fill">
    <div class="col d-flex justify-content-center align-items-center">
      <a [routerLink]="['/play']" role="button" class="enter-button btn rounded-circle d-flex justify-content-center align-items-center appearIn-anim">
        <img src="assets/images/large-logo__splash.svg">
      </a>
    </div>
  </div>
  <div class="row splash-anim__row mb-5">
    <div class="col d-block text-center">
      <h2 class="splash-anim__content-1 ">An Interplanetary Jukebox</h2>
      <h5 class="splash-anim__content-2">...built on the <strong><u>blockchain</u></strong>.</h5>
    </div>
  </div>
</div>
